<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webtail</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tinycon.js"></script>
    <script type="text/javascript" src="/js/webtail.js"></script>
    <script type="text/javascript">
      Webtail.run(<%= @web_socket_port %>);
    </script>
  </head>
  <body>
  </body>
</html>
